@using CiberManagement.BLL.Services
@using CiberManagement.DAL.Model
@model Order
@inject ICustomerServices customerServices
@{
    ViewData["Title"] = "Create";
    var customers = await customerServices.GetAllCustomers();
     var prod = TempData["product"] as Product;
}

   
    <div class="col-md-4">
        <form asp-action="Create">
           
             <div class="form-group mb-3">
                <label class="control-label">Customer</label>
                <select class="form-select" aria-label="Default select example" asp-for="CustomerID" asp-items="@(new SelectList(customers,"ID","Name"))">
                    <option selected>Select customer</option>
                </select>
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Prodcut: </label>
                <label class="control-label">@prod.Name</label>
                <input asp-for="ProductID" hidden value="@prod.ID" class="form-control" />
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label"> Price: </label>
                <label id="price" class="control-label">@prod.Price</label>
            </div>
            <div class="form-group mb-3">
                <label class="control-label"> Quantity </label>
                <input id="quantity" type="number" value="1" min=1 class="form-control" />
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Amount" class="control-label"></label>
                <input id="amount" asp-for="Amount" hidden class="form-control" />
                <label  id="lbAmount" class="control-label"></label>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Order" class="btn btn-primary" />
            </div>
        </form>
    </div>
@section Scripts{
<script type="text/javascript">
    $(document).ready(function(){
         amoutOrder();
          $("#quantity").change(()=>amoutOrder());
    function amoutOrder(){
        var quantity = $("#quantity").val();
        var price = $("#price").text();
        $("#amount").val(quantity * price);
        $("#lbAmount").text(quantity * price);
    }
    })

</script>
}
